* {
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: "JetBrains Mono Nerd Font", monospace; */
    font-family: Material Design Icons, JetBrains Mono;
    font-size: 14px;
    margin: 0;
    padding: 0;

}

window#waybar {
    background-color: transparent;
    /* transition-property: background-color; */
    /* transition-duration: .5s; */
}

/* .modules-right, */
/* .modules-left, */
/* .modules-center { */
/*     margin-top: 10px; */
/*     margin-right: 10px; */
/*     margin-left: 10px; */
/*     border-radius: 10px; */
/* } */

.modules-right,
.modules-left,
.modules-center {
    border: 2px solid #e0c69f;
    border-radius: 10px;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    /* box-shadow: inset 0 -3px #ffffff; */
}


#workspaces button {
	padding: 3px 7px;
    background-color: transparent;
    color: #e0c69f;
    transition: cubic-bezier(.17,.67,.83,.67) .2s;
}

#workspaces button label {
	font-size: 19px;
}


#workspaces button:hover {
    background: #E0C69F;
    color: #FFFFFF;
}

#workspaces button.active {

    transition: cubic-bezier(.17,.67,.83,.67) .2s;
	font-weight: bold;
    background-color: #e0c69f;
    color: #752f20
}

#workspaces button:first-child {
    border-radius: 7px 0 0 7px;
}

#workspaces button:last-child {
    border-radius: 0 7px 7px 0;
}

#workspaces button:first-child:last-child {
    border-radius: 7px;
}


#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#memory,
#backlight,
#network,
#pulseaudio,
#tray,
#language,
#cpu {
    background: #752f20;
    padding: 5px 8px;
    color: #e0c69f;    
    margin: 0;
    border-left: 1.5px solid #e0c69f;
    border-radius: 0;
    font-weight: bold;
}

#window,
#workspaces {
    border-radius: 2px;
    font-weight: bold;
    margin: 0;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    margin: 0;
    background-color: #752f20;
    color: #e0c69f;
    font-weight: bold;
	border-left: none;
	border-radius: 8px 0 0 8px;
}

#cpu {
    background: #e0c69f;
    color: #752f20;
    border-radius: 0 7px 7px 0;
    transition: cubic-bezier(.17,.67,.83,.67) .2s;
    padding-left: 6px;
    padding-right: 0;
}

#battery {
	border-radius: 0 8px 8px 0;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#backlight {
     background: #752f20;
}

#network.disconnected {
    background-color: #a45c7c;
}

#pulseaudio {
    font-family: 'JetBrains Mono', FontAwesome;
    font-weight: 600;
    border-radius: 8px 0 0 8px;
		border-left: none;
}

#pulseaudio.muted {
    font-family: 'JetBrains Mono', FontAwesome;
    
    background-color: #64727d;
    /* color: #2a5c45; */
}

#tray {
	min-width: 20px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#language {
    /* background: #967F5C;*/
    font-weight: bold;
    padding: 0;
    margin: 0;
    min-width: 22px;
}

