window {
        background-color: rgba(0,0,0,0.0);
}

/* Outer bar container, takes all the window width/height */
#outer-box {
	margin: 0px
}

/* Inner bar container, surrounds buttons */
#inner-box {
	background-color: #752f20;
	border-radius: 10px;
	border: 3px solid;
	border-color: #e0c69f;
	padding: 5px;
	margin: 5px
}

button, image {
	font-family: "JetBrains Mono";
	font-weight: bolder;
	font-size: 16px;
	background: none;
	border: none;
	box-shadow: none;
	color: #e0c69f
}

button {
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px
}

button:hover {
	background-color: rgba (255, 255, 255, 0.1)
}
